
body , ul , ol , h2 , h3 , h4, h5 , p , dl , dt , dd , form { padding: 0; margin: 0; }
img { border: none; }
li { list-style: none; }
a{text-decoration:none;outline:none; color:#666666;}
a:hover{text-decoration:none}
img{border:0}
ul{list-style:none;margin:0;}
h2{
	color:#6CBD45;
	font-size:14px;
	font-weight:bold;
	padding-bottom:0.5em;
	margin:0;
}

h3{
	font-size:13px;
	font-weight:bold;
	
	
}
#show{background:url(images/photo.jpg)}
#meun1{color:#fff; padding-left:10px;}
#meun1 img{ float:left;}
#submeun1{ margin-left:70px; float:left;}
#submeun1 li{ text-align:center;  margin-right:10px; float:left;  display:inline;}
#submeun1 li a{ color:#fff;height:50px; line-height:50px;  font-size:14px; font-weight:bold; text-align:center;  padding-left:15px; padding-right:15px;display:block;}
#submeun1 li.cur{ text-align:center; background:#82ce18; margin-right:10px;float:left;  display:inline;}
#top1{
	background-color:#000;
	margin: 0em 0 10px 0em;
	border-style:solid; border-width:1px; border-color:#E5E5E5;
	height:50px;
	width:100%;
	line-height:50px;

}
div.subtitle{
	font-size:16px;
	float:right;
	color:#6CBD45;
	margin:0 10px;
	font-weight:bold;
	text-align:right;
	margin-right:50px;
}
div.subtitle a{ color:#fff;}

h1.title{
	height:50px;    
    font-size:12px;
	background:url(logo.png) no-repeat;
	
}
h1.title a:link,h1.title a:visited,h1.title a:hover{
	color:#000;
	text-decoration:none;
}


